<div class="container text-center">
  <h1>hola {{ titulo }}</h1>
  <img class="img-fluid" [src]="logo" />
  <h2>{{ contadortotal }}</h2>
  <button type="button" class="btn btn-outline-success btn-block" (click)="sumar()">
    sumar +1 <span class="babge babge-light">{{ suma }}</span>
  </button>
  <button type="button" class="btn btn-outline-danger btn-block" (click)="restar()">
    restar -1 <span class="babge babge-light">{{ resta }}</span>
  </button>
  <input type="text" [value]="texto" (input)=" texto = $event.target.value">
  <button type="button" class="btn btn-outline-dark btn-block" (click)="reset()">
    resetear a {{texto}}
  </button>
</div>
<div class="container text-center">
  <h1>hola {{ titulo }}</h1>
  <img class="img-fluid" [src]="logo" />
  <h2>{{ contadortotal }}</h2>
  <button type="button" class="btn btn-outline-success btn-block" (click)="sumar()">
    sumar +1 <span class="babge babge-light">{{ suma }}</span>
  </button>
  <button type="button" class="btn btn-outline-danger btn-block" (click)="restar()">
    restar -1 <span class="babge babge-light">{{ resta }}</span>
  </button>
  <input type="text" [value]="texto" (input)=" texto = $event.target.value">
  <button type="button" class="btn btn-outline-dark btn-block" (click)="reset()">
    resetear a {{texto}}
  </button>
</div>
<div class="container text-center">
  <h1>hola {{ titulo }}</h1>
  <img class="img-fluid" [src]="logo" />
  <h2>{{ contadortotal }}</h2>
  <button type="button" class="btn btn-outline-success btn-block" (click)="sumar()">
    sumar +1 <span class="babge babge-light">{{ suma }}</span>
  </button>
  <button type="button" class="btn btn-outline-danger btn-block" (click)="restar()">
    restar -1 <span class="babge babge-light">{{ resta }}</span>
  </button>
  <input type="text" [value]="texto" (input)=" texto = $event.target.value">
  <button type="button" class="btn btn-outline-dark btn-block" (click)="reset()">
    resetear a {{texto}}
  </button>
</div>
<div class="container text-center">
  <h1>hola {{ titulo }}</h1>
  <img class="img-fluid" [src]="logo" />
  <h2>{{ contadortotal }}</h2>
  <button type="button" class="btn btn-outline-success btn-block" (click)="sumar()">
    sumar +1 <span class="babge babge-light">{{ suma }}</span>
  </button>
  <button type="button" class="btn btn-outline-danger btn-block" (click)="restar()">
    restar -1 <span class="babge babge-light">{{ resta }}</span>
  </button>
  <input type="text" [value]="texto" (input)=" texto = $event.target.value">
  <button type="button" class="btn btn-outline-dark btn-block" (click)="reset()">
    resetear a {{texto}}
  </button>
</div>
