<br>
<br>
<div class="container" [style]="{width: '100%', margin: '0 auto'} ">

  <div class="row">

    <div class="col-3 text-center" *ngIf="iddepart!==0">
      <label>Marca</label>
      <select class="custom-select select" [size]="marca.length+1" name="marcaelegida" id="marca" [(ngModel)]="marca2"
        (change)="cargarmars()">
        <option [ngValue]="mar" *ngFor="let mar of marca">{{mar.nombre}}</option>
      </select>

      <label *ngIf="productomo.length>1">Modelos</label>
      <select class="custom-select" *ngIf="productomo.length>1" [size]="productomo.length" name="marcaelegida" id="mode"
        [(ngModel)]="productomo2" (change)="cargarmars()">
        <option [ngValue]="modelo" *ngFor="let modelo of productomo">{{modelo.modelo}}</option>
      </select>
      <label *ngIf="productoco.length>1">Colores</label>
      <select class="custom-select" *ngIf="productoco.length>1" [size]="productoco.length" name="marcaelegida" id="colr"
        [(ngModel)]="productoco2" (change)="cargarmars()">
        <option [ngValue]="color" *ngFor="let color of productoco">{{color.color}}</option>
      </select>
      <label *ngIf="productota.length>1">Tallas</label>
      <select class="custom-select" *ngIf="productota.length>1" [size]="productota.length" name="talla" id="tallas"
        [(ngModel)]="productota2" (change)="cargarmars()">
        <option [ngValue]="tall" *ngFor="let tall of productota">{{tall.talla}}</option>
      </select>
      <label *ngIf="productose.length>1">Sexo</label>
      <select class="custom-select" *ngIf="productose.length>1" [size]="productose.length" name="talla" id="tallas"
        [(ngModel)]="productose2" (change)="cargarmars()">
        <option [ngValue]="sex" *ngFor="let sex of productose">{{sex.sexo}}</option>
      </select>
      <label *ngIf="minimo!==maximo">Precios</label>
      <ng5-slider *ngIf="minimo!==maximo" style="background-color: rgb(105, 39, 39);" [(value)]="minimo" [(highValue)]="maximo" [options]="options" (valueChange)="cargarmars()"></ng5-slider>
      <button type="button" *ngIf="vf===false" class="btn btn-danger" (click)="cargaropcion(iddepart)"><i class="far fa-trash-alt"></i>
        Limpiar</button>
        <button type="button" *ngIf="vf===true" class="btn btn-danger" (click)="productonombre(id)"><i class="far fa-trash-alt"></i>
          Limpiar</button>
    </div>
    <div class="col-9" *ngIf="iddepart!=0">



      <div class="row row-cols-1 row-cols-md-3">
        <ul *ngFor="let producto of producto  | paginate: {itemsPerPage: 6, currentPage: p}" >
          
          <div class="col mb-4">
            <div class="card h-100">
              {{this.cargarimagen(producto.imagenes)}}
              <a (click)="rutacodigo(producto.codproducto)" routerLink="/detalles">
                <img [src]="imagenn" height="200" class="zoom card-img-top" alt="...">
              </a>
              <div class="card-body" >
               

               

                <h5 class="card-title ">{{producto.nombre | uppercase}}</h5>
               
                <p class="card-text ">{{producto.modelo}}, {{producto.color}}</p>
                <p class="card-text ">${{producto.precio}}</p>
                <ul class="list-group list-group-flush" *ngFor="let m of marca">
                  <li class="list-group-item text-center" *ngIf="m.idmarca===producto.idmarca">{{m.nombre}}</li>
                </ul>
               
                <button type="button" class="btn btn btn-outline-primary btn-block"
                  (click)="rutacodigo(producto.codproducto)" routerLink="/detalles">
                  <i class="fas fa-eye"></i> ver
                </button>
                <button type="button" class="btn btn-outline-success btn-block" (click)="carritocompra(producto)">
                  <i class="fas fa-shopping-cart"></i> Comprar
                </button>
              </div>
            </div>
          </div>
        </ul>
       


      </div>
      
    </div>
    <div class="col-12" *ngIf="iddepart===0">

      <div class="row row-cols-1 row-cols-md-4">
        <ul *ngFor="let produ of producto | paginate: {itemsPerPage: 8, currentPage: p}">
          <div class="col mb-3">
            <div class="card h-100">
              {{this.cargarimagen(produ.imagenes)}}
              <a (click)="rutacodigo(produ.codproducto)" routerLink="/detalles">
                <img [src]="imagenn" height="200" class="zoom card-img-top">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{produ.nombre}}</h5>
                <p class="card-text">{{produ.modelo}}, {{produ.color}}</p>
                <p class="card-text">${{produ.precio}}</p>
                <ul class="list-group list-group-flush" *ngFor="let m of marcacod">
                  <li class="list-group-item text-center " *ngIf="m.idmarca===produ.idmarca" >{{m.nombre}}</li>
                </ul>
                <button type="button" class="btn btn btn-outline-primary btn-block" (click)="rutacodigo(produ.codproducto)"
                  routerLink="/detalles">
                  <i class="fas fa-eye"></i> ver
                </button>
                <button type="button" class="btn btn-outline-success btn-block" (click)="carritocompra(produ)">
                  <i class="fas fa-shopping-cart"></i> Comprar
                </button>
              </div>
            </div>
          </div>

        </ul>
       
      </div>
    
     

    </div>
  </div>
</div>
<div style="text-align: center;" *ngIf="producto.length>6">
  <pagination-controls (pageChange)="p = $event"  previousLabel="Anterior"
  nextLabel="Siguiente"></pagination-controls>
</div>

<br>
